#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Calculator container styles */
  .calculator {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    width: 300px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Add shadow for a lifted effect */
  }
  
  /* Calculator screen styles */
  .screen {
    background-color: #f0f0f0;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    text-align: right;
    font-size: 1.5em;
  }
  
  /* Calculator button styles */
  .pad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
    margin-top: 10px;
  }
  
  button {
    width: 100%;
    height: 60px;
    font-size: 1.2em;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  button:hover {
    background-color: #555;
  }
  
  /* Operator button styles */
  .operator {
    background-color: #ff9500;
  }
  
  .operator:hover {
    background-color: #ffad33;
  }
  
  /* Equal button style */
  .equal {
    background-color: #ff2d55;
  }
  
  .equal:hover {
    background-color: #ff4f6d;
  }
  
  /* Clear and Delete button styles */
  .clear,
  .ce,
  .delete {
    background-color: #ff3b30;
  }
  
  .clear:hover,
  .ce:hover,
  .delete:hover {
    background-color: #ff5f52;
  }
  
  /* Other button styles (numbers, decimal) */
  .numPad,
  #decimal {
    background-color: #424242;
  }
  
  .numPad:hover,
  #decimal:hover {
    background-color: #575757;
  }
  
  /* Toggle Sign and Percentage button styles */
  #toggle-sign,
  #percentage {
    background-color: #34c759;
  }
  
  #toggle-sign:hover,
  #percentage:hover {
    background-color: #4cd964;
  }
  